* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: azure;
}

.page-wrapper {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  min-height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 60vw;
}
.logo > img {
  height: 100%;
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
nav {
  font-weight: 600;
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 200px;
  text-align: center;
}
#hero > h2 {
  margin-bottom: 20px;
}

#email {
  max-width: 250px;
  width: 100%;
  padding: 5px;
}

#submit {
  max-width: 200px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  background-color: yellowgreen;
  border: 3px solid black;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
}
#submit:hover {
  background-color: yellow;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 60vw;
  padding: 10px;
}

.desc > p {
  margin-top: 20px;
  font-weight: 500;
  text-align: justify;
}
#how-its-made {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
#how-its-made > iframe {
  max-width: 650px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 5px solid #000;
  border-radius: 5px;
}

.product > .level {
  background-color: #ddd;
  color: #000;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.product > h2 {
  margin-top: 15px;
}
.product > ol {
  margin: 15px 0;
}
.product > ol > li {
  padding: 5px 0;
}

.product > .buttons {
  border: 0;
  padding: 12px;
  margin: 15px 0;
  background-color: yellowgreen;
  font-weight: 600;
  text-transform: uppercase;
  border: 5px solid #000;
  border-radius: 3px;
  font-size: 16px;
}
.product > .buttons:hover {
  background-color: yellow;
  transition: background-color 1s;
}
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 40px;
}
footer > ul {
  display: flex;
  justify-content: flex-end;
}
footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  color: #444;
}
